

/* RESET */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
  --bg: #f1f5f9;
  --card: #ffffff;
  --primary: #4f46e5;
  --primary-hover: #4338ca;
  --text: #0f172a;
  --text-light: #64748b;
  --border: #e2e8f0;
}

/* BODY */
body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(180deg, #f8fafc, #eef2ff);
  color: var(--text);

}


main {padding: 20px;
}

/* HEADER */
.header {
  max-width: 600px;
  margin: auto;
  text-align: center;
margin-bottom: 60px;

  
}

.header h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.header h2 {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary);
  margin-top: 8px;
}

.header p {
 
  color: var(--text-light);
  margin-bottom: 10px;
 


}

/* BOTÃO VOLTAR */
.voltar {
  display: inline-block;
  padding: 10px 18px;
  background: rgba(0, 0, 255, 0.705);
  color: white;
  border-radius: 8px;
  text-decoration: none;
}


.voltar:hover {
  background: rgba(0, 0, 255, 0.418);
}

/* GRID */
.grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: var(--card);
  padding: 22px;
  border-radius: 14px;
  border: 1px solid var(--border);
  transition: 0.3s;
  position: relative;
}

/* LINHA SUPERIOR */
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: var(--primary);
  opacity: 0;
  transition: 0.3s;
}

.card:hover::before {
  opacity: 1;
}

/* HOVER */
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.08);
}

/* LINK */
.card a {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  font-size: 15px;
  display: block;
  line-height: 1.4;
}

.card a span {
  display: block;
  font-size: 12px;
  color: var(--text-light);
  margin-top: 6px;
  font-weight: 400;
}

/* HOVER TEXTO */
.card:hover a {
  color: var(--primary);
}




/* FOOTER */
footer {
  margin-top: 60px;
  padding: 30px;
  text-align: center;
  border-top: 1px solid var(--border);
}

footer h1 {
  font-size: 16px;
}

footer p {
  font-size: 13px;
  color: var(--text-light);
  margin-top: 5px;
}

/* RESPONSIVO */
@media (max-width: 600px) {
  .header h1 {
    font-size: 24px;
  }
}

.centralizar-paginas-principais 
{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 3px;
  padding: 5px;
  margin: auto;
max-width: 1099px;
}

.centralizar-paginas-principais a {padding: 10px 4px 10px 4px;}
.menu-navegacao a {padding: 10px 5px 10px 5px;}

.qual-voce-prefere {margin-bottom: 15px;}