

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
  --bg: #f1f5f9;
  --card: #ffffff;
  --primary: #4f46e5;
  --text: #0f172a;
  --text-light: #64748b;
  --border: #e2e8f0;
}

/* BODY */
body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(180deg, #f8fafc, #eef2ff);
  color: var(--text);
}

/* HEADER */
.header {
  text-align: center;


}

.header h1 {
  font-size: 28px;
}

.header p {
  color: var(--text-light);
}

/* MAIN */
main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* CARD */
.card {
  background: var(--card);
  padding: 30px;
  border-radius: 14px;
  border: 1px solid var(--border);
  margin-bottom: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

/* TÍTULOS */
h2 {
  margin-bottom: 15px;
  color: var(--primary);
}

/* TEXTO */
p {
  margin-bottom: 15px;
  line-height: 1.6;
}

/* LISTA */
ul {
  margin-bottom: 15px;
  padding-left: 20px;
}

/* VIDEO */
.video {
  margin-top: 20px;
  text-align: center;
}

iframe {
  width: 100%;
  max-width: 700px;
  height: 400px;
  border-radius: 10px;
}

/* BOTÃO VOLTAR */
.voltar {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 18px;
  background: var(--primary);
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

/* FOOTER */
footer {
  margin-top: 60px;
  padding: 30px;
  text-align: center;
  border-top: 1px solid var(--border);
}

footer h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

footer p {
  font-size: 13px;
  color: var(--text-light);
}




span  {
  margin-top: 60px;
  padding: 30px;
  text-align: center;
  border-top: 1px solid var(--border);
}

span  {
  font-size: 16px;
  margin-bottom: 5px;
}

span   {
  font-size: 13px;
  color: var(--text-light);
}


.centralizar {display: flex;
flex-direction: row;
align-items: end;

justify-content: end;
gap:20px;}

pre {
  white-space: pre-wrap;     /* quebra linha automaticamente */
  word-wrap: break-word;     /* quebra palavras grandes */
  overflow-x: hidden;        /* remove scroll horizontal */
  background: #f8fafc;
  padding: 20px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.6;
  max-width: 100%;
}

code {
  font-family: 'Courier New', monospace;
}

.conjunto-paginas {display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
flex-wrap: wrap;
padding: 10px;
}

.conjunto-paginas-generico {
  border-radius: 10px;
 border: 1px solid rgba(0, 0, 0, 0.164);
max-width: 500px;
padding: 10px;
margin: 10px;

}

.menu-navegacao {

text-align: center;
margin: auto;
max-width: 500px;
margin-bottom: 25px;


}

.logo-do-site {max-width: 250px;
}